@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }

  .navbar-brand img {
    max-width: 100px;
    height: auto;
  }

  .portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .portfolio-items .col-sm-6,
  .portfolio-items .col-md-4,
  .portfolio-items .col-lg-4 {
    padding: 15px; /* Adjust as needed for spacing */
  }
  
  .portfolio-items img {
    width: 100%; /* Make the image take the full width of the column */
    height: 200px; /* Set a fixed height for consistency */
    object-fit: cover; /* Ensures the image covers the area without stretching */
    border-radius: 5px; /* Optional: adds rounded corners to images */
  }
}
